//colors
//Primer esquema de color BLANCOS
$white: #ffffff;
$snow: #fafafa;
$quick-silver: #a0a0a0; 
// Fin de primer esquema de color

//Segundo esquema de color ROJOS
$jelly-bean: #e56353;
$salmon: #e97f72;
$pastel-pink: #f0a9a1;
// Fin de primer esquema de color

//Tercer esquema de color Grises
$granite-gray: #686963;
$taupe-gray: #91918d;
$gray: #babab8;
// Fin de primer esquema de color


//Fuentes tipográficas
//Tipo de fuente "Raleway"
$raleway: 'Raleway', sans-serif;

//Pesos de fuentes tipográficas
$extra-light: 200;
$regular: 400;
$bold: 700;
//Fin de Pesos de fuentes tipográficas

//Tamaños tipográficos
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;

